{:http-kit      {:port :env.edn/PORT}

 ;; Legal Origins for API request.
 :legal-origins #{"product.domain" "localhost" :env/HOST}

 ;; You probably want these set to true in real production:
 :ring.middleware/defaults-config
                {:proxy    false
                 :security {:ssl-redirect false}}}
